body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
}

.container {
    margin-bottom: 30px;
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
}

html {
    height: 100%;
}
