.places {
    position: relative;
    font-size: 30px;
    max-width: 1000px;
    margin: auto;
}

.places h1 {
    margin-left: 20px;
}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    align-content: center;
}

article h2 {
    font-size: 30px;
    text-align: center;
}

.articles {
    display: inline-block;
    justify-content: center;
    text-align: center;
}
